/* Fonts */
@font-face {
    font-family: 'text';
    src: url('amiga4ever.ttf') format('truetype');
}
html, body {
    color: #000;
    font-family: "text", Helvetica, sans-serif;
    font-size: 10pt;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url("cursor.png"), pointer !important;
}
a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
    cursor: url("cursor.png"), pointer !important;
}
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #aaaaaa;
}
.button {
    display: block;
    font-family: "text", Helvetica, sans-serif;
    background: none;
    cursor: url("cursor.png"), pointer !important;
    padding: 0;
    text-align: center;
    border: 0;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.button label {
    display: block;
    margin: 0 auto;
    height: 35px;
    width: 60px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    cursor: url("cursor.png"), pointer !important;
}
#btn-system label  {
    width: 100px;
}
.button span {
    display: block;
    width: 100%;
    height: 100%;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #797979;
    border-bottom: 1px solid #797979;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("folder-close.png");
    cursor: url("cursor.png"), pointer !important;
}
.button span i {
    font-style: normal;
    cursor: url("cursor.png"), pointer !important;
}
.button span img {
    margin-top: 5px;
}
.button.open label {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}
.button.open span {
    border-left: 1px solid #797979;
    border-top: 1px solid #797979;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-image: url("folder-open.png");
}
.button strong {
    display: block;
    width: 100%;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}
.button.text-button label {
    width: 80px;
    height: 45px;
}
.button.text-button span {
    background: none !important;
}
.button.text-button i {
    display: block;
    width: 100%;
    padding-top: 15px;
}
.floppy label  {
    height: 40px;
}
.floppy span, .floppy.open span {
    background-image: url("floppy-closed.png");
}
#btn-system span {
    background-image: url("system.png");
}
.form-input {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}
.form-input input, .form-input label, .form-input textarea {
    float: left;
    width: 100%;
    resize: none;
}
.form-input label {
    margin-bottom: 5px;
}
h1 {
    font-size: 12pt;
    font-weight: normal;
}
header {
    padding: 10px 10px;
    width: 100%;
    height: 20px;
    background-color: #fff;
    z-index: 1000;
}
header h1, header span {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    font-size: 10pt;
}
header a {
    float: right;
    margin-right: 20px;
}
header a:hover, .window-output p a:hover {
    color: #FF0000;
}
header span strong {
    font-weight: normal;
}
.required {
    color: #FF0000;
}
.window, .popup {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    min-height: 200px;
    min-width: 400px;
    height: 400px;
    width: 400px;
    border-right: 1px solid #000;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
    z-index: 3;
}
.popup {
    min-height: 100px;
    min-width: 250px;
    height: auto;
    width: 500px;
    z-index: 1000;
    background-image: url("popup-bkup.jpg");
    display: none;
}
#guru {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1005;
    display: none;
}

@-webkit-keyframes guruBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: #FF0000    
    }    
}    
@keyframes guruBlink {    
    from, to {    
        border-color: transparent    
    }    
    50% {    
        border-color: #FF0000    
    }    
}
#guru section {
    width: 100% - 40px;
    margin: 20px;
    border:5px solid #FF0000;
    color: #FF0000;
    text-align: center;
    -webkit-animation: guruBlink 1s step-end infinite;    
    animation: guruBlink 1s step-end infinite;    
}
main {
    top: 40px;
    width: 100% !important;
    height: calc(100% - 40px) !important;
    z-index: 2;
}
main #buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120px;
}
.window-title {
    width: 100%;
    height: 26px;
    padding: 0;
    background-color: #aaaaaa;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
    cursor: url("cursor.png"), pointer !important;
}
.window-title button {
    margin-bottom: 0px;
}
.window section, .popup section {
    display: flex;
    height: calc(100% - 29px);
}
.window section {
    border-left: 1px solid #e0e0e0;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px solid #000;
}
.popup section {
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
}
.window-body {
    width: calc(100% - 25px);
    height: 100%;
    overflow: hidden;
}
.popup .window-body {
    margin-top: 20px;
    margin-left: 20px;
    width: calc(100% - 45px);
}
.window-content {
    float: left;
    margin-left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 26px);
    border-left: 1px solid #000;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #aaaaaa;
    overflow: hidden;
    clear: both;
}
.popup .window-content {
    border-top: 1px solid #000;
    height: 100%;
}
.window-content .window-output {
    position: relative;
    padding: 20px;
}
.window-vert-scroll {
    width: 24px;
    height: 100%;
    background-color: #aaaaaa;
    border-right: 1px solid #000;
}
.window-vert-scroll .scroll-bar {
    width: 13px;
    height: calc(100% - 92px);
    cursor: url("cursor.png"), pointer !important;
}
.window-footer {
    float: left;
    width: calc(100% + 1px);
    height: 25px;
    overflow: hidden;
    background-color: #aaaaaa;
    overflow: hidden;
    clear: both;
}
.popup .window-footer {
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background: none;
}
.window-vert-scroll .scroll-bar, .window-horz-scroll .scroll-bar {    
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.window-horz-scroll {
    float: left;
    height: 30px;
    width: calc(100% - 5px);
}
.window-horz-scroll .scroll-bar {
    width: calc(100% - 64px);
    height: 13px;
    display: block;
    float: left;
    cursor: url("cursor.png"), pointer !important;
    margin-right: 5px;
}
.window-vert-scroll button, .window-horz-scroll button {
    width: 25px;
    height: 25px;
    display: block;
    font-size: 0;
    margin-bottom: 0px;
}
.window-vert-scroll button label, .window-horz-scroll button label {
    width: 25px;
    height: 25px;
}
.window-vert-scroll button {
    margin-top: 2px;
}
.window-horz-scroll button {
    float: left;
}
.window-horz-scroll .scroll-bar-left {
    margin-right: 2px;
}
.window-vert-scroll button span, .window-horz-scroll button span, .window .window-scroll-resize span {
    width: 23px;
    height: 23px;
    padding: 0;
}
.window-vert-scroll .scroll-bar-up label, .window-vert-scroll .scroll-bar-down label, .window .window-scroll-resize label {
    border-left: 0 !important;
    border-right: 0 !important;
}
.window-horz-scroll button span {
    border-top: 0 !important;
}
.scroll-bar-up span {
    background-image: url("scroll-up.png?t=333s");
}
.scroll-bar-down span {
    background-image: url("scroll-down.png?t=333s");
}
.scroll-bar-left span {
    background-image: url("scroll-left.png?t=333s");
}
.scroll-bar-right span {
    background-image: url("scroll-right.png?t=333s");
}
.window .window-scroll-resize span {
    background-image: url("window-resize.png?t=333s");
}
.window .window-scroll-resize span.active {
    background-image: url("window-resize-active.png?t=333s");
}
.window-title button, .window-title span {
    float: left;
    margin-right: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #797979;
}
.window-title button {
    width: 26px;
    height: 26px;
    background-size: auto;
    background-size: 16px 16px;
}
.window-title span {
    padding: 5px 0 0 10px;
    height: 20px;
    width: calc(100% - 90px);
}
.popup .window-title span {
    width: calc(100% - 38px);
}
.window-close {
    background-image: url("window-close.png?t=re");
}
.active > .window-title .window-close {
    background-image: url("window-close-active.png?t=ress");
}
.window-max {
    background-image: url("window-max.png?t=r");
}
.active > .window-title .window-max {
    background-image: url("window-max-active.png?t=res");
}
.window-index {
    background-image: url("window-index.png?t=isssss");
}
.active > .window-title .window-index {
    background-image: url("window-index-active.png?t=res");
}
.window.active > section,
.active > .window-title,
.window.active > section > .window-body > .window-footer,
.window.active > section > .window-vert-scroll {
    background-color: #6788bd;
}
#window-system {
    display: none;
}

.window.shell {
    width: 600px;
}
.window.shell .window-footer {
    height: 2px;
    line-height: 0;
}
.window.shell .window-footer .window-horz-scroll {
    display: none;
}

.window.shell .window-content {
    height: calc(100% - 3px);
}
.window.shell .window-content .window-output {
    padding:7px 5px;
}

.ui-resizable-handle {
    background: none !important;
    cursor: url("cursor.png"), pointer !important;
}