/* Fonts */
@font-face {
    font-family: 'text';
    src: url('amiga4ever.ttf') format('truetype');
}
html, body {
    color: #020202;
    font-family: "text", Helvetica, sans-serif;
    font-size: 10pt;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url("cursor.png"), pointer !important;
}
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #aaaaaa;
}
#btn-menu {
    position: relative;
}
button {
    font-family: "text", Helvetica, sans-serif;
    background: none;
    cursor: url("cursor.png"), pointer !important;
    padding: 0;
    text-align: center;
    border: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
button span {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 60px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
#btn-menu span {
    width: 100px;
}
button i {
    display: block;
    width: 100%;
    height: 100%;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #797979;
    border-bottom: 1px solid #797979;
    background-position: center center;
    background-repeat: no-repeat;
}
button i img {
    margin-top: 5px;
}
button.open span {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}
button.open i {
    border-left: 1px solid #797979;
    border-top: 1px solid #797979;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
button strong {
    display: block;
    width: 100%;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}
h1 {
    font-size: 12pt;
    font-weight: normal;
}
header {
    padding: 10px 10px;
    width: 100%;
    height: 20px;
    background-color: #fff;
    z-index: 1000;
}
header h1, header span {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    font-size: 10pt;
}
header span strong {
    font-weight: normal;
}
.window {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    height: 400px;
    width: 400px;
    border-right: 1px solid #000;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
    z-index: 3;
}

main {
    margin-top: 40px;
    width: 100% !important;
    height: calc(100% - 40px) !important;
    z-index: 2;
}

.window-title {
    width: 100%;
    height: 26px;
    padding: 0;
    background-color: #aaaaaa;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #000;
    cursor: url("cursor.png"), pointer !important;
}
.window section {
    display: flex;
    height: calc(100% - 29px);
    border-left: 1px solid #e0e0e0;
    flex-direction: row;
    align-items: stretch;
    border-bottom: 1px solid #000;
}
.window-body {
    width: calc(100% - 25px);
    height: 100%;
    overflow: hidden;
}
.window-content {
    float: left;
    margin-left: 2px;
    width: calc(100% - 44px);
    height: calc(100% - 66px);
    border-left: 1px solid #000;
    border-right: 1px solid #fff;
    background-color: #aaaaaa;
    padding: 20px;
    clear: both;
}
.window-vert-scroll {
    width: 24px;
    height: 100%;
    background-color: #aaaaaa;
    border-right: 1px solid #000;
}
.window-vert-scroll .scroll-bar {
    width: 13px;
    height: calc(100% - 92px);
    cursor: url("cursor.png"), pointer !important;
}
.window-footer {
    float: left;
    width: calc(100% + 1px);
    height: 25px;
    overflow: hidden;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: #aaaaaa;
    overflow: hidden;
    clear: both;
}

.window-vert-scroll .scroll-bar, .window-horz-scroll .scroll-bar {    
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.window-horz-scroll {
    float: left;
    height: 30px;
    width: calc(100% - 5px);
}
.window-horz-scroll .scroll-bar {
    width: calc(100% - 64px);
    height: 13px;
    display: block;
    float: left;
    cursor: url("cursor.png"), pointer !important;
    margin-right: 5px;
}
.window-vert-scroll button, .window-horz-scroll button {
    width: 25px;
    height: 25px;
    display: block;
    font-size: 0;
}
.window-vert-scroll button span, .window-horz-scroll button span {
    width: 25px;
    height: 25px;
}
.window-vert-scroll button {
    margin-top: 2px;
}
.window-horz-scroll button {
    float: left;
}
.window-horz-scroll .scroll-bar-left {
    margin-right: 2px;
}
.window-vert-scroll button i, .window-horz-scroll button i, .window .window-scroll-resize i {
    width: 23px;
    height: 23px;
    padding: 0;
}
.window-vert-scroll .scroll-bar-up span, .window-vert-scroll .scroll-bar-down span, .window .window-scroll-resize span {
    border-left: 0 !important;
    border-right: 0 !important;
}
.window-horz-scroll button i {
    border-top: 0 !important;
}
.scroll-bar-up i {
    background-image: url("scroll-up.png?t=333s");
}
.scroll-bar-down i {
    background-image: url("scroll-down.png?t=333s");
}
.scroll-bar-left i {
    background-image: url("scroll-left.png?t=333s");
}
.scroll-bar-right i {
    background-image: url("scroll-right.png?t=333s");
}
.window .window-scroll-resize i {
    background-image: url("window-resize.png?t=333s");
}
.window .window-scroll-resize i.active {
    background-image: url("window-resize-active.png?t=333s");
}

.window-title button, .window-title span {
    float: left;
    margin-right: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #797979;
}
.window-title button {
    width: 26px;
    height: 26px;
    background-size: auto;
}
.window-title span {
    padding: 4px 0 0 10px;
    height: 21px;
    width: calc(100% - 90px);
}
.window .window-close {
    background-image: url("window-close.png");
}
.window.active > .window-title .window-close {
    background-image: url("window-close-active.png?t=re");
}
.window .window-max {
    background-image: url("window-max.png");
}
.window.active > .window-title .window-max {
    background-image: url("window-max-active.png?t=re");
}
.window .window-index {
    background-image: url("window-index.png");
}
.window.active > .window-title .window-index {
    background-image: url("window-index-active.png?t=re");
}
.window.active > section,
.window.active > .window-title,
.window.active > section > .window-body > .window-footer,
.window.active > section > .window-vert-scroll {
    background-color: #6788bd;
}
#window-system {
    display: none;
}